# Contents:
## 01 Import Libraries
## 02 Import Data
## 03 Explore Nulls
###  a. Create df2 where Temperature(F) = NaN are omitted
###  b. Create df3 where Distance(mi) = 0 are omitted
###  c. Modify df3 where Precipitation(in) = NaN are imputed with 0 in (median value)
###  d. Create df4 where Visibility = NaN are omitted
###  e. Modify df 4 where Wind_Chill(F) = NaN are replaced with Temperature(F) value
## 04 Export clean dataset as half_clean2

# 01 Import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02 Import data

In [2]:
#path to project folder
path = r'C:\Users\erhil\OneDrive\Career Foundry Program\Immersion Data Analytics Course\A6 - Adv. Analytics & Dashboard Design\Project A6'

In [3]:
#only need the following columns for analysis
vars_list = ['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'Distance(mi)', 'City', 'County', 'State', 'Zipcode', 'Timezone', 'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Visibility(mi)', 'Wind_Direction', 'Precipitation(in)', 'Weather_Condition']

In [4]:
#import half-prepared dataset
#still need to work on nulls
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'df_half_clean.pkl'))

In [5]:
df1 = df[vars_list]

# 03 Explore nulls

In [6]:
df.shape

(6170627, 47)

In [7]:
df1.shape
#27 columns dropped, as not needed for analysis

(6170627, 20)

In [8]:
df1.describe()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Visibility(mi),Precipitation(in)
count,6.170627e+06,6.170627e+06,6.170627e+06,6.170627e+06,6.055233e+06,5.394061e+06,6.028381e+06,5.248183e+06
mean,2.253898e+00,3.729715e+01,-9.144676e+01,1.259217e+00,6.318595e+01,6.199467e+01,9.426172e+00,3.773323e-03
std,6.296634e-01,5.515846e+00,1.611645e+01,3.977114e+00,1.795553e+01,2.023514e+01,1.412101e+01,8.961252e-02
min,1.000000e+00,2.088731e+01,-1.579783e+02,0.000000e+00,-8.900000e+01,-8.900000e+01,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.349486e+01,-1.049825e+02,1.324791e-01,5.100000e+01,5.000000e+01,1.000000e+01,0.000000e+00
50%,2.000000e+00,3.925449e+01,-8.571116e+01,3.249112e-01,6.600000e+01,6.600000e+01,1.000000e+01,0.000000e+00
75%,2.000000e+00,4.105826e+01,-7.886149e+01,1.031883e+00,7.700000e+01,7.700000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900083e+01,-6.706635e+01,6.877400e+02,1.960000e+02,1.960000e+02,3.400700e+04,2.400000e+01

In [9]:
#look at nulls in all columns in original data
df1.isnull().sum()

ID                        0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
Distance(mi)              0
City                      0
County                    0
State                     0
Zipcode                   0
Timezone                  0
Airport_Code              0
Weather_Timestamp         0
Temperature(F)       115394
Wind_Chill(F)        776566
Visibility(mi)       142246
Wind_Direction            0
Precipitation(in)    922444
Weather_Condition         0
dtype: int64

## a. Create df2 without records where Temperature(F) is NaN

In [10]:
Temp_nomt = pd.notnull(df1['Temperature(F)'])
df2 = df1[Temp_nomt]

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
df2.shape
#115,394 records omitted due to not having a temperature (1.87% of original data)

(6055233, 20)

In [13]:
df2.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),City,County,State,Zipcode,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Precipitation(in),Weather_Condition
0,C-1,4,2019-04-05 16:00:00.000000000,2020-09-29 11:53:57.000000000,32.838360,-93.152378,1.103497,Haynesville,Claiborne,LA,71038-7130,US/Central,KMNE,2019-04-05 15:55:00,75.0,75.0,10.0,S,0.0,Fair
1,C-2,2,2021-11-12 07:59:00.000000000,2021-11-12 08:22:30.000000000,30.221331,-92.008625,0.433173,Lafayette,Lafayette,LA,70501-8244,US/Central,KLFT,2021-11-12 07:59:00,55.0,55.0,3.0,CALM,0.0,Mostly Cloudy
2,C-3,2,2021-10-12 07:17:30.000000000,2021-10-12 09:18:55.000000000,39.653153,-104.910224,0.192266,Denver,Denver,CO,80224-3007,US/Mountain,KBKF,2021-10-12 06:58:00,37.0,33.0,10.0,WSW,0.0,Partly Cloudy
3,C-4,4,2021-02-10 02:46:10.000000000,2021-02-17 23:59:00.000000000,33.961506,-118.029339,0.032112,Whittier,Los Angeles,CA,90605-1935,US/Pacific,KFUL,2021-02-10 02:53:00,54.0,54.0,9.0,CALM,0.0,Cloudy
4,C-5,2,2020-09-24 15:58:00.000000000,2020-09-25 21:04:54.000000000,40.008734,-79.599696,0.996057,Connellsville,Fayette,PA,15425-2945,US/Eastern,KLBE,2020-09-24 15:53:00,73.0,73.0,10.0,SSW,0.0,Partly Cloudy

In [14]:
df2.isnull().sum()

ID                        0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
Distance(mi)              0
City                      0
County                    0
State                     0
Zipcode                   0
Timezone                  0
Airport_Code              0
Weather_Timestamp         0
Temperature(F)            0
Wind_Chill(F)        661172
Visibility(mi)        42716
Wind_Direction            0
Precipitation(in)    828881
Weather_Condition         0
dtype: int64

In [15]:
#count unique values in each column
df2.nunique()

ID                   6055233
Severity                   4
Start_Time           2454531
End_Time             2693640
Start_Lat            1225685
Start_Lng            1276726
Distance(mi)         1642912
City                   14232
County                  1867
State                     49
Zipcode               424206
Timezone                   4
Airport_Code            2056
Weather_Timestamp     503818
Temperature(F)           753
Wind_Chill(F)            889
Visibility(mi)            73
Wind_Direction            25
Precipitation(in)        241
Weather_Condition        112
dtype: int64

In [16]:
pd.options.display.max_rows = None

In [17]:
df2['Weather_Condition'].nunique()

112

In [18]:
df2['Weather_Condition'].value_counts(dropna = False)

Fair                             2654560
Mostly Cloudy                     845146
Cloudy                            801787
Partly Cloudy                     582895
Clear                             309488
Light Rain                        187067
Overcast                          163033
Fog                                77061
Scattered Clouds                   60892
Haze                               45176
Light Snow                         44856
nan                                39804
Fair / Windy                       37386
Rain                               29808
Mostly Cloudy / Windy              17936
Cloudy / Windy                     15823
Smoke                              15717
Thunder in the Vicinity            15063
Light Drizzle                      14020
Heavy Rain                         12044
Partly Cloudy / Windy              11058
T-Storm                            10338
Thunder                            10170
Light Rain with Thunder             9174
Light Rain / Windy                  5596
Heavy T-Storm                       5207
Wintry Mix                          3909
Snow                                3731
Light Snow / Windy                  2406
Drizzle                             2345
Mist                                2134
Showers in the Vicinity             2095
Patches of Fog                      1884
Shallow Fog                         1851
N/A Precipitation                   1755
Heavy Snow                          1054
Rain / Windy                         993
Heavy Rain / Windy                   852
Heavy T-Storm / Windy                745
Light Thunderstorms and Rain         738
Haze / Windy                         639
Thunderstorm                         537
T-Storm / Windy                      529
Light Freezing Rain                  513
Thunder / Windy                      513
Light Freezing Fog                   484
Heavy Thunderstorms and Rain         336
Drizzle and Fog                      318
Snow / Windy                         312
Thunderstorms and Rain               302
Fog / Windy                          299
Light Freezing Drizzle               261
Light Drizzle / Windy                250
Light Rain Shower                    223
Heavy Snow / Windy                   219
Blowing Dust / Windy                 202
Heavy Drizzle                        190
Blowing Snow                         133
Smoke / Windy                        125
Blowing Dust                          98
Squalls                               89
Rain Shower                           84
Blowing Snow / Windy                  83
Wintry Mix / Windy                    69
Widespread Dust                       67
Sand / Dust Whirlwinds                60
Rain Shower / Windy                   57
Squalls / Windy                       55
Light Snow with Thunder               54
Partial Fog                           47
Snow and Sleet                        46
Light Freezing Rain / Windy           43
Light Snow and Sleet                  39
Widespread Dust / Windy               33
Light Sleet                           29
Freezing Rain                         28
Light Ice Pellets                     24
Light Rain Showers                    23
Light Snow Shower                     21
Drizzle / Windy                       17
Ice Pellets                           17
Light Snow and Sleet / Windy          17
Light Rain Shower / Windy             15
Hail                                  15
Rain Showers                          15
Small Hail                            13
Freezing Drizzle                      12
Light Sleet / Windy                   10
Thunder / Wintry Mix                  10
Heavy Rain Shower                      7
Snow and Sleet / Windy                 7
Tornado                                6
Light Snow Shower / Windy              5
Sleet                                  4
Light Snow Showers                     3
Patches of Fog / Windy                 3
Light Snow Grains                      3
Heavy Freezing Drizzle                 2
Sand / Dust Whirls Nearby              2
Blowing Sand                           2
Ice Crystals                           2
Low Drifting Snow                      2
Freezing Rain / Windy                  2
Heavy Drizzle / Windy                  2
Drifting Snow / Windy                  2
Funnel Cloud                           1
Light Thunderstorms and Snow           1
Mist / Windy                           1
Heavy Thunderstorms with Hail          1
Heavy Blowing Snow                     1
Sand                                   1
Sleet / Windy                          1
Name: Weather_Condition, dtype: int64

In [19]:
pd.options.display.max_rows = 10

In [20]:
df2

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),City,County,State,Zipcode,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Precipitation(in),Weather_Condition
0,C-1,4,2019-04-05 16:00:00.000000000,2020-09-29 11:53:57.000000000,32.838360,-93.152378,1.103497,Haynesville,Claiborne,LA,71038-7130,US/Central,KMNE,2019-04-05 15:55:00,75.0,75.0,10.0,S,0.0,Fair
1,C-2,2,2021-11-12 07:59:00.000000000,2021-11-12 08:22:30.000000000,30.221331,-92.008625,0.433173,Lafayette,Lafayette,LA,70501-8244,US/Central,KLFT,2021-11-12 07:59:00,55.0,55.0,3.0,CALM,0.0,Mostly Cloudy
2,C-3,2,2021-10-12 07:17:30.000000000,2021-10-12 09:18:55.000000000,39.653153,-104.910224,0.192266,Denver,Denver,CO,80224-3007,US/Mountain,KBKF,2021-10-12 06:58:00,37.0,33.0,10.0,WSW,0.0,Partly Cloudy
3,C-4,4,2021-02-10 02:46:10.000000000,2021-02-17 23:59:00.000000000,33.961506,-118.029339,0.032112,Whittier,Los Angeles,CA,90605-1935,US/Pacific,KFUL,2021-02-10 02:53:00,54.0,54.0,9.0,CALM,0.0,Cloudy
4,C-5,2,2020-09-24 15:58:00.000000000,2020-09-25 21:04:54.000000000,40.008734,-79.599696,0.996057,Connellsville,Fayette,PA,15425-2945,US/Eastern,KLBE,2020-09-24 15:53:00,73.0,73.0,10.0,SSW,0.0,Partly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6170622,C-6293072,2,2020-01-10 10:39:00,2021-10-19 01:02:59,40.136791,-74.962677,0.644691,Feasterville Trevose,Bucks,PA,19053,US/Eastern,KPNE,2020-01-10 10:54:00,45.0,41.0,10.0,SW,0.0,Cloudy
6170623,C-6293073,2,2020-01-29 21:00:00,2020-01-30 05:00:00,37.806690,-122.474869,3.040000,San Francisco,San Francisco,CA,94129,US/Pacific,KSFO,2020-01-29 20:56:00,54.0,54.0,10.0,W,0.0,Fair
6170624,C-6293074,2,2021-09-04 10:54:51,2021-09-04 15:06:46,40.758288,-73.994419,0.077554,New York,New York,NY,10036,US/Eastern,KNYC,2021-09-04 10:51:00,71.0,71.0,10.0,CALM,0.0,Fair
6170625,C-6293075,2,2021-12-07 16:15:49,2021-12-07 18:34:49,29.698476,-95.427386,0.129042,Houston,Harris,TX,77025,US/Central,KMCJ,2021-12-07 15:53:00,67.0,67.0,10.0,ESE,0.0,Cloudy
6170626,C-6293076,2,2021-04-15 05:46:30,2021-04-15 11:54:30,40.198984,-75.256608,0.442531,Ambler,Montgomery,PA,19002,US/Eastern,KLOM,2021-04-15 05:55:00,51.0,51.0,2.0,CALM,0.0,Fog

## b. Create df3 without records where Distance(mi) is zero

In [21]:
 #create a df with all values where the distance = 0
df_miss_dist = df2.loc[df2['Distance(mi)'] == 0]

In [22]:
# some of the missing data is due to not having an "end" lat/long, others were just not measured.
# this data consists of 374,171 records and represents approximately 6.06% of the original dataset
df_miss_dist.describe()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Visibility(mi),Precipitation(in)
count,374171.000000,374171.000000,374171.000000,374171.0,374171.000000,284239.000000,371493.000000,259097.000000
mean,2.210350,38.530955,-90.062962,0.0,56.400144,52.415519,9.349458,0.004605
std,0.605665,4.541416,16.371902,0.0,17.443616,20.354324,2.928535,0.116601
min,1.000000,24.555269,-124.610504,0.0,-89.000000,-89.000000,0.000000,0.000000
25%,2.000000,35.491196,-104.735058,0.0,44.000000,37.000000,10.000000,0.000000
50%,2.000000,39.779940,-84.379030,0.0,57.900000,55.000000,10.000000,0.000000
75%,2.000000,41.344340,-75.793854,0.0,70.000000,68.000000,10.000000,0.000000
max,4.000000,49.000050,-67.095970,0.0,115.000000,115.000000,100.000000,14.820000

In [23]:
#create new dataframe with only valid distances
#cumulatively, will have removed 489,565 records which represents 7.93% of original data
df3 = df2.loc[df2['Distance(mi)'] != 0]

In [24]:
df3.shape

(5681062, 20)

In [25]:
pd.options.display.max_rows = None

In [26]:
df3.isnull().sum()

ID                        0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
Distance(mi)              0
City                      0
County                    0
State                     0
Zipcode                   0
Timezone                  0
Airport_Code              0
Weather_Timestamp         0
Temperature(F)            0
Wind_Chill(F)        571240
Visibility(mi)        40038
Wind_Direction            0
Precipitation(in)    713807
Weather_Condition         0
dtype: int64

In [27]:
df3.describe()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Visibility(mi),Precipitation(in)
count,5.681062e+06,5.681062e+06,5.681062e+06,5.681062e+06,5.681062e+06,5.109822e+06,5.641024e+06,4.967255e+06
mean,2.255245e+00,3.721741e+01,-9.149253e+01,1.334227e+00,6.363289e+01,6.252752e+01,9.433600e+00,3.735959e-03
std,6.293912e-01,5.580370e+00,1.607954e+01,4.080841e+00,1.789866e+01,2.009487e+01,1.457711e+01,8.816507e-02
min,1.000000e+00,2.455045e+01,-1.245569e+02,4.657500e-05,-3.700000e+01,-6.000000e+01,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.348046e+01,-1.049896e+02,1.561183e-01,5.200000e+01,5.100000e+01,1.000000e+01,0.000000e+00
50%,2.000000e+00,3.921383e+01,-8.579271e+01,3.627366e-01,6.600000e+01,6.600000e+01,1.000000e+01,0.000000e+00
75%,2.000000e+00,4.105673e+01,-7.935626e+01,1.111116e+00,7.700000e+01,7.700000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900083e+01,-6.706635e+01,6.877400e+02,1.960000e+02,1.960000e+02,3.400700e+04,2.400000e+01

In [28]:
df3['Precipitation(in)'].value_counts(dropna = False)

0.00     4750091
NaN       713807
0.01       70055
0.02       31495
0.03       20195
0.04       14929
0.05       12445
0.06        9018
0.07        7605
0.08        5519
0.09        5397
0.10        4017
0.11        3364
0.12        2768
0.13        2394
0.14        2219
0.15        2007
0.16        1621
0.17        1485
0.18        1454
0.19        1303
0.20        1262
0.22        1014
0.21        1000
0.23         894
0.27         751
0.24         678
0.25         637
0.26         586
0.31         537
0.30         506
0.28         456
0.32         409
0.34         390
0.29         389
0.36         352
0.35         348
0.33         341
0.42         317
0.39         288
0.38         262
0.43         236
0.40         225
0.59         221
0.52         219
0.60         219
0.45         218
0.41         208
0.37         207
0.49         194
0.80         184
0.83         168
0.55         168
0.54         160
0.47         153
0.61         152
0.46         150
9.99         146
0.58         142
0.51         135
0.44         116
0.53         104
0.50         103
0.56          92
0.57          91
0.48          91
0.75          88
0.70          76
0.67          74
0.66          74
0.68          72
0.62          69
0.64          67
0.71          56
0.86          54
0.69          53
0.63          50
0.93          47
0.79          47
0.78          46
0.65          44
0.72          39
0.76          39
1.56          38
0.74          38
0.97          37
0.77          37
0.82          36
1.24          36
0.91          35
0.73          34
0.85          34
1.08          34
0.81          33
0.84          32
0.98          31
1.32          31
0.94          29
9.98          28
1.06          26
0.90          25
0.88          25
1.16          21
1.48          20
1.00          19
0.92          19
1.52          19
1.80          18
2.18          18
0.87          17
1.25          16
1.02          15
9.96          15
1.01          15
1.10          15
10.00         15
0.96          14
0.89          14
1.36          14
1.09          13
1.04          13
1.64          13
1.26          10
1.13          10
1.70           9
1.12           9
3.87           9
1.60           9
2.06           9
24.00          9
3.15           9
1.73           9
9.94           8
1.22           8
1.05           8
9.97           8
1.31           7
1.17           7
1.11           7
1.15           7
1.72           7
1.14           7
0.99           6
1.30           6
9.95           6
9.93           6
1.18           6
13.60          6
1.03           5
1.53           5
1.46           5
1.54           5
10.01          5
1.81           5
1.38           5
1.40           5
1.45           5
1.07           5
1.27           4
1.39           4
2.85           4
1.47           4
1.58           4
0.95           4
10.12          4
10.02          4
1.94           4
1.23           4
2.64           4
1.50           4
9.90           3
1.33           3
1.34           3
2.16           3
1.20           3
9.30           3
1.67           3
1.41           3
1.44           3
1.28           3
9.92           3
1.35           3
1.74           3
2.84           3
1.68           2
1.57           2
1.95           2
2.21           2
1.62           2
2.01           2
2.87           2
1.65           2
2.28           2
2.17           2
1.97           2
18.40          2
1.78           2
1.69           2
1.84           2
1.55           2
1.63           2
1.19           2
1.83           2
1.37           1
2.15           1
1.87           1
3.14           1
10.04          1
2.32           1
16.40          1
9.85           1
2.47           1
2.93           1
8.76           1
10.80          1
1.99           1
1.29           1
1.91           1
10.07          1
3.09           1
1.71           1
3.42           1
2.26           1
10.03          1
1.85           1
1.88           1
1.51           1
1.89           1
2.42           1
1.21           1
10.53          1
2.53           1
2.52           1
2.82           1
2.60           1
9.88           1
1.43           1
1.42           1
2.00           1
2.41           1
1.66           1
Name: Precipitation(in), dtype: int64

## c. Modify df3 Precipitation(in) by imputing median = 0 for NaNs

In [29]:
df3['Precipitation(in)'].fillna(0, inplace = True)

C:\Users\erhil\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [30]:
df3['Precipitation(in)'].value_counts(dropna = False).sort_index()

0.00     5463898
0.01       70055
0.02       31495
0.03       20195
0.04       14929
0.05       12445
0.06        9018
0.07        7605
0.08        5519
0.09        5397
0.10        4017
0.11        3364
0.12        2768
0.13        2394
0.14        2219
0.15        2007
0.16        1621
0.17        1485
0.18        1454
0.19        1303
0.20        1262
0.21        1000
0.22        1014
0.23         894
0.24         678
0.25         637
0.26         586
0.27         751
0.28         456
0.29         389
0.30         506
0.31         537
0.32         409
0.33         341
0.34         390
0.35         348
0.36         352
0.37         207
0.38         262
0.39         288
0.40         225
0.41         208
0.42         317
0.43         236
0.44         116
0.45         218
0.46         150
0.47         153
0.48          91
0.49         194
0.50         103
0.51         135
0.52         219
0.53         104
0.54         160
0.55         168
0.56          92
0.57          91
0.58         142
0.59         221
0.60         219
0.61         152
0.62          69
0.63          50
0.64          67
0.65          44
0.66          74
0.67          74
0.68          72
0.69          53
0.70          76
0.71          56
0.72          39
0.73          34
0.74          38
0.75          88
0.76          39
0.77          37
0.78          46
0.79          47
0.80         184
0.81          33
0.82          36
0.83         168
0.84          32
0.85          34
0.86          54
0.87          17
0.88          25
0.89          14
0.90          25
0.91          35
0.92          19
0.93          47
0.94          29
0.95           4
0.96          14
0.97          37
0.98          31
0.99           6
1.00          19
1.01          15
1.02          15
1.03           5
1.04          13
1.05           8
1.06          26
1.07           5
1.08          34
1.09          13
1.10          15
1.11           7
1.12           9
1.13          10
1.14           7
1.15           7
1.16          21
1.17           7
1.18           6
1.19           2
1.20           3
1.21           1
1.22           8
1.23           4
1.24          36
1.25          16
1.26          10
1.27           4
1.28           3
1.29           1
1.30           6
1.31           7
1.32          31
1.33           3
1.34           3
1.35           3
1.36          14
1.37           1
1.38           5
1.39           4
1.40           5
1.41           3
1.42           1
1.43           1
1.44           3
1.45           5
1.46           5
1.47           4
1.48          20
1.50           4
1.51           1
1.52          19
1.53           5
1.54           5
1.55           2
1.56          38
1.57           2
1.58           4
1.60           9
1.62           2
1.63           2
1.64          13
1.65           2
1.66           1
1.67           3
1.68           2
1.69           2
1.70           9
1.71           1
1.72           7
1.73           9
1.74           3
1.78           2
1.80          18
1.81           5
1.83           2
1.84           2
1.85           1
1.87           1
1.88           1
1.89           1
1.91           1
1.94           4
1.95           2
1.97           2
1.99           1
2.00           1
2.01           2
2.06           9
2.15           1
2.16           3
2.17           2
2.18          18
2.21           2
2.26           1
2.28           2
2.32           1
2.41           1
2.42           1
2.47           1
2.52           1
2.53           1
2.60           1
2.64           4
2.82           1
2.84           3
2.85           4
2.87           2
2.93           1
3.09           1
3.14           1
3.15           9
3.42           1
3.87           9
8.76           1
9.30           3
9.85           1
9.88           1
9.90           3
9.92           3
9.93           6
9.94           8
9.95           6
9.96          15
9.97           8
9.98          28
9.99         146
10.00         15
10.01          5
10.02          4
10.03          1
10.04          1
10.07          1
10.12          4
10.53          1
10.80          1
13.60          6
16.40          1
18.40          2
24.00          9
Name: Precipitation(in), dtype: int64

In [31]:
df3.isnull().sum()

ID                        0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
Distance(mi)              0
City                      0
County                    0
State                     0
Zipcode                   0
Timezone                  0
Airport_Code              0
Weather_Timestamp         0
Temperature(F)            0
Wind_Chill(F)        571240
Visibility(mi)        40038
Wind_Direction            0
Precipitation(in)         0
Weather_Condition         0
dtype: int64

## d. create df4 with null Visibility(mi) records omitted

In [32]:
df3['Visibility(mi)'].value_counts(dropna = False).sort_index()
#since visibility only has 40,038 null records, I will delete these for my analysis

0.00           4693
0.06            176
0.10            293
0.12            878
0.19             17
0.20           3717
0.25          17681
0.38            227
0.40             33
0.50          15483
0.60             24
0.62              1
0.63            187
0.75           9869
0.80           1603
0.88            101
0.90             22
1.00          48892
1.10              6
1.20           1446
1.40              2
1.50           2184
1.60             21
1.80           1864
1.90             14
2.00          56852
2.20             56
2.50           4130
2.80             29
3.00          53412
3.50             10
4.00          59142
5.00          76948
5.50              5
6.00          71792
7.00         133351
8.00          93579
9.00         118626
10.00       4836752
10.50             3
11.00            31
12.00           247
13.00          5998
14.00             2
15.00          7244
16.00             7
17.00             1
19.00            53
20.00          6501
22.00             2
25.00           486
30.00          1759
35.00           109
40.00          1346
45.00            92
50.00          1230
55.00             1
58.00             1
60.00           239
65.00            42
70.00           306
75.00           663
80.00           351
90.00            76
98.00             4
100.00           71
101.00            8
110.00            9
120.00            5
130.00           15
215.00            2
2984.00           1
34007.00          1
NaN           40038
Name: Visibility(mi), dtype: int64

In [33]:
# create a new df with not-null values for visibility
# cumulatively, I have removed 529,603/6,170,627 records, which is 8.58% of total records
Vis_nomt = pd.notnull(df3['Visibility(mi)'])
df4 = df3[Vis_nomt]

In [34]:
df4.isnull().sum()

ID                        0
Severity                  0
Start_Time                0
End_Time                  0
Start_Lat                 0
Start_Lng                 0
Distance(mi)              0
City                      0
County                    0
State                     0
Zipcode                   0
Timezone                  0
Airport_Code              0
Weather_Timestamp         0
Temperature(F)            0
Wind_Chill(F)        557759
Visibility(mi)            0
Wind_Direction            0
Precipitation(in)         0
Weather_Condition         0
dtype: int64

## e. Modify df4 for all Wind_Chill(F) values that are null, I will replace with the Temperature(F)

In [35]:
df4['Wind_Chill(F)'].fillna(df['Temperature(F)'],inplace=True)

In [36]:
df4.isnull().sum()

ID                   0
Severity             0
Start_Time           0
End_Time             0
Start_Lat            0
Start_Lng            0
Distance(mi)         0
City                 0
County               0
State                0
Zipcode              0
Timezone             0
Airport_Code         0
Weather_Timestamp    0
Temperature(F)       0
Wind_Chill(F)        0
Visibility(mi)       0
Wind_Direction       0
Precipitation(in)    0
Weather_Condition    0
dtype: int64

In [37]:
#records removed
w = 374171+115394+40038
print (w)

529603

In [38]:
#number of records removed from original total number of records 
x = 6170627 - w
print (x)

5641024

In [39]:
#percent of records omitted from new dataset
y = (w/6170627)*100
print (y)

8.58264484306052

In [40]:
#double-check number of records
df4.shape

(5641024, 20)

# 04 Export cleaned dataset

In [41]:
#export dataset with 20 columns and 529,603/6,170,627 records removed
#distance = 0 (374,171 records), temperature = NaN (115,394 records), visibility = NaN (40,038 records)
df4.to_csv(os.path.join(path, '02 Data', 'Prepared', 'half_clean2.csv'), index = False)