## contents

## 01 import libraries & data
## 02 clean airport data
## 03 merge airport & US construction data
## 04 check and export

# 01 import libraries & data

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#create path to project folder
path = r'C:\Users\erhil\OneDrive\Career Foundry Program\Immersion Data Analytics Course\A6 - Adv. Analytics & Dashboard Design\Project A6'

In [3]:
#import both clean (construction) data and airport data
df_a = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'list-of-airports-in-united-states-of-america-hxl-tags-1.csv'), index_col = False)
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'clean.csv'), index_col = False)

# 02 clean airport data

In [4]:
#look at airport data
df_a.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,#meta +id,#meta +code,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#region +continent +code,#country +code +iso2,#adm1 +code +iso,#loc +municipality +name,#status +scheduled,#loc +airport +code +gps,#loc +airport +code +iata,#loc +airport +code +local,#meta +url +airport,#meta +url +wikipedia,#meta +keywords,#meta +score,#date +updated
1,3632,KLAX,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,NaN,US,US-CA,Los Angeles,1,KLAX,LAX,LAX,http://www.iflylax.com/,http://en.wikipedia.org/wiki/Los_Angeles_Inter...,NaN,1335475,2010-01-23T11:27:55+00:00
2,3622,KJFK,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,NaN,US,US-NY,New York,1,KJFK,JFK,JFK,http://www.panynj.gov/CommutingTravel/airports...,http://en.wikipedia.org/wiki/John_F._Kennedy_I...,"Manhattan, New York City, NYC, Idlewild",1052075,2010-01-23T11:27:54+00:00
3,3754,KORD,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,NaN,US,US-IL,Chicago,1,KORD,ORD,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,http://en.wikipedia.org/wiki/O'Hare_Internatio...,"CHI, Orchard Place",1503175,2014-08-19T18:55:27+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,NaN,US,US-GA,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,http://en.wikipedia.org/wiki/Hartsfield-Jackso...,NaN,2002475,2008-06-13T14:30:04+00:00

In [5]:
df_a.shape

(22217, 20)

In [6]:
#clean this up.. row 0 are comments and not necessary (drop it!)
df_a1=df_a.drop(0)

In [7]:
df_a1.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
1,3632,KLAX,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,NaN,US,US-CA,Los Angeles,1,KLAX,LAX,LAX,http://www.iflylax.com/,http://en.wikipedia.org/wiki/Los_Angeles_Inter...,NaN,1335475,2010-01-23T11:27:55+00:00
2,3622,KJFK,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,NaN,US,US-NY,New York,1,KJFK,JFK,JFK,http://www.panynj.gov/CommutingTravel/airports...,http://en.wikipedia.org/wiki/John_F._Kennedy_I...,"Manhattan, New York City, NYC, Idlewild",1052075,2010-01-23T11:27:54+00:00
3,3754,KORD,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,NaN,US,US-IL,Chicago,1,KORD,ORD,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,http://en.wikipedia.org/wiki/O'Hare_Internatio...,"CHI, Orchard Place",1503175,2014-08-19T18:55:27+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,NaN,US,US-GA,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,http://en.wikipedia.org/wiki/Hartsfield-Jackso...,NaN,2002475,2008-06-13T14:30:04+00:00
5,3878,KSFO,large_airport,San Francisco International Airport,37.61899948120117,-122.375,13,NaN,US,US-CA,San Francisco,1,KSFO,SFO,SFO,http://www.flysfo.com/,http://en.wikipedia.org/wiki/San_Francisco_Int...,"QSF, QBA",1112475,2008-06-13T14:30:04+00:00

In [8]:
#rename column in airport data from ident to Airport_Code to merge
df_a1.rename(columns={'ident': 'Airport_Code'}, inplace=True)

In [9]:
#amend airport dataframe without extra columns including only these listed
df_a1 = df_a1[['Airport_Code', 'type', 'name', 'latitude_deg', 'longitude_deg']]

# merge airport and clean (US Construction) data

In [10]:
#merge data
df_merged = df.merge(df_a1, how = 'left', on=['Airport_Code'], indicator = True)

In [11]:
#check that column headers & data look ok
df_merged.head()

,ID,Severity,Start_Lat,Start_Lng,Distance(mi),City,County,State,Timezone,Airport_Code,...,Precipitation(in),Weather_Condition,Start_Time_no_ext,End_Time_no_ext,Zipcode_no_ext,type,name,latitude_deg,longitude_deg,_merge
0,C-1,4,32.838360,-93.152378,1.103497,Haynesville,Claiborne,LA,US/Central,KMNE,...,0.0,Fair,2019-04-05 16:00:00,2020-09-29 11:53:57,71038,NaN,NaN,NaN,NaN,left_only
1,C-2,2,30.221331,-92.008625,0.433173,Lafayette,Lafayette,LA,US/Central,KLFT,...,0.0,Mostly Cloudy,2021-11-12 07:59:00,2021-11-12 08:22:30,70501,large_airport,Lafayette Regional Airport,30.20529938,-91.98760223,both
2,C-3,2,39.653153,-104.910224,0.192266,Denver,Denver,CO,US/Mountain,KBKF,...,0.0,Partly Cloudy,2021-10-12 07:17:30,2021-10-12 09:18:55,80224,medium_airport,Buckley Air Force Base,39.701698303200004,-104.751998901,both
3,C-4,4,33.961506,-118.029339,0.032112,Whittier,Los Angeles,CA,US/Pacific,KFUL,...,0.0,Cloudy,2021-02-10 02:46:10,2021-02-17 23:59:00,90605,small_airport,Fullerton Municipal Airport,33.8720016479,-117.980003357,both
4,C-5,2,40.008734,-79.599696,0.996057,Connellsville,Fayette,PA,US/Eastern,KLBE,...,0.0,Partly Cloudy,2020-09-24 15:58:00,2020-09-25 21:04:54,15425,medium_airport,Arnold Palmer Regional Airport,40.27590179,-79.40480042,both

In [12]:
#check numbers 
#(20 columns from clean Construction, including one joined column) + 4 new columns + _merge column = 25)
#same number of records as in clean Construction :)
df_merged.shape

(5564502, 25)

In [13]:
#410,840 construction data did not have an airport match
df_merged['_merge'].value_counts(dropna = False)

both          5153662
left_only      410840
right_only          0
Name: _merge, dtype: int64

In [14]:
#what percent of data will I be left with, omitting the unmatched data
x = (5153662*100)/6170627
print (x)

83.51925987423968

In [15]:
#checking that the missing latitude_deg of the airport is the same number as 'left_only' merges
df_merged['latitude_deg'].value_counts(dropna = False)

NaN                   410840
33.43429946899414     183097
25.79319953918457     102855
40.77719879            95790
33.52690124511719      73645
                       ...
33.23979949951172          2
27.901100158691406         2
36.587200164799995         1
48.177898407               1
47.79570007                1
Name: latitude_deg, Length: 1872, dtype: int64

In [16]:
#executive decision: drop unmatched data since part of my analysis is to look at distance from Construction to Airport
df_merged2 = df_merged[df_merged['latitude_deg'].isnull()==False]

In [17]:
df_merged2.shape

(5153662, 25)

In [18]:
#no need for the _merge column, drop it!
df_merged2=df_merged2.drop(columns=['_merge'])

In [19]:
df_merged2.shape

(5153662, 24)

In [20]:
#check values in dataset, make sure still 49 states (not incl AK & HI, incl DC)
df_merged2.nunique()

ID                   5153662
Severity                   4
Start_Lat            1039524
Start_Lng            1076240
Distance(mi)         1511596
City                   13381
County                  1847
State                     49
Timezone                   4
Airport_Code            1874
Weather_Timestamp     456433
Temperature(F)           738
Wind_Chill(F)           1151
Visibility(mi)            69
Wind_Direction            18
Precipitation(in)        218
Weather_Condition        108
Start_Time_no_ext    1611740
End_Time_no_ext      1881548
Zipcode_no_ext         24210
type                       5
name                    1846
latitude_deg            1871
longitude_deg           1872
dtype: int64

In [21]:
#check for null values
df_merged2.isnull().sum()

ID                   0
Severity             0
Start_Lat            0
Start_Lng            0
Distance(mi)         0
City                 0
County               0
State                0
Timezone             0
Airport_Code         0
Weather_Timestamp    0
Temperature(F)       0
Wind_Chill(F)        0
Visibility(mi)       0
Wind_Direction       0
Precipitation(in)    0
Weather_Condition    0
Start_Time_no_ext    0
End_Time_no_ext      0
Zipcode_no_ext       0
type                 0
name                 0
latitude_deg         0
longitude_deg        0
dtype: int64

In [22]:
#not needed for analysis
df_merged2 = df_merged2.drop(columns=('Wind_Chill(F)'))

In [23]:
df_merged2.shape

(5153662, 23)

In [24]:
for col in df_merged2.columns.tolist():
    weird = (df_merged2[[col]].applymap(type) != df_merged2[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_merged2[weird]) > 0:
        print (col)

In [25]:
#export data
df_merged2.to_csv(os.path.join(path, '02 Data', 'Prepared', 'merged.csv'), index = False)